Repository danieldiamond/gitlab-analytics, changes with the owners that CODEOWNERS names for each.
All owners: @jjstark, @kathleentam, @tayloramurphy, @m_walker, @emilie, @eli_kastelein, @mpeychet_, @pluthra, @iweeks, @derekatwood, @ken_aguilar, @clefelhocz1

remove useless flag
  extract/postgres_pipeline/manifests/gitlab_com_db_manifest.yaml
Owners: @tayloramurphy, @m_walker

try some stuff
  extract/postgres_pipeline/manifests/gitlab_com_db_manifest.yaml
Owners: @tayloramurphy, @m_walker

change last value to order by job id to get last case instead of effective date in the case there are 2 jobs on the same day
  transform/snowflake-dbt/models/bamboohr/xf/employee_directory.sql
Owners: @emilie, @kathleentam

Add engineer tasks
  .gitlab/issue_templates/Data Onboarding.md
Owners: @jjstark, @kathleentam, @tayloramurphy

Apply suggestion to .gitlab/issue_templates/Data Onboarding.md
  .gitlab/issue_templates/Data Onboarding.md
Owners: @jjstark, @kathleentam, @tayloramurphy

Bump to 0.16
  transform/snowflake-dbt/dbt_project.yml
Owners: @tayloramurphy, @jjstark, @emilie, @kathleentam

Initial docs update
  transform/snowflake-dbt/data/seeds.md
  transform/snowflake-dbt/data/seeds.yml
  transform/snowflake-dbt/macros/README.md
  transform/snowflake-dbt/macros/bamboohr/macros.md
  transform/snowflake-dbt/macros/bamboohr/macros.yml
  transform/snowflake-dbt/macros/engineering/macros.md
  transform/snowflake-dbt/macros/engineering/macros.yml
  transform/snowflake-dbt/macros/gitlab_dotcom/macros.md
  transform/snowflake-dbt/macros/gitlab_dotcom/macros.yml
  transform/snowflake-dbt/models/handbook/base/schema.yml
Owners: @tayloramurphy, @jjstark, @emilie, @kathleentam

remove filter
  transform/snowflake-dbt/models/staging/version/xf/version_usage_data_unpacked.sql
Owners: @eli_kastelein, @mpeychet_

Remove zuora_assert_slug_names and add description comment to zuora_slugify_cardinality
  transform/snowflake-dbt/tests/zuora/zuora_assert_slug_names.sql
  transform/snowflake-dbt/tests/zuora/zuora_slugify_cardinality.sql
Owners: @tayloramurphy, @jjstark, @emilie, @kathleentam

Update all macro docs
  transform/snowflake-dbt/macros/README.md
  transform/snowflake-dbt/macros/gitlab_dotcom/macros.md
  transform/snowflake-dbt/macros/gitlab_dotcom/macros.yml
  transform/snowflake-dbt/macros/logging/macros.md
  transform/snowflake-dbt/macros/logging/macros.yml
  transform/snowflake-dbt/macros/sfdc/macros.md
  transform/snowflake-dbt/macros/sfdc/macros.yml
  transform/snowflake-dbt/macros/sheetload/cleanup_certificates.sql
  transform/snowflake-dbt/macros/sheetload/macros.md
  transform/snowflake-dbt/macros/sheetload/macros.yml
  transform/snowflake-dbt/macros/smau_events/macros.md
  transform/snowflake-dbt/macros/smau_events/macros.yml
  transform/snowflake-dbt/macros/snowplow/macros.md
  transform/snowflake-dbt/macros/snowplow/macros.yml
  transform/snowflake-dbt/macros/tests/README.md
  transform/snowflake-dbt/macros/tests/macros.md
  transform/snowflake-dbt/macros/tests/macros.yml
  transform/snowflake-dbt/macros/udfs/README.md
  transform/snowflake-dbt/macros/udfs/macros.md
  transform/snowflake-dbt/macros/udfs/macros.yml
  transform/snowflake-dbt/macros/utils/macros.md
  transform/snowflake-dbt/macros/utils/macros.yml
  transform/snowflake-dbt/macros/version/macros.md
  transform/snowflake-dbt/macros/version/macros.yml
  transform/snowflake-dbt/macros/warehouse/macros.md
  transform/snowflake-dbt/macros/warehouse/macros.yml
  transform/snowflake-dbt/macros/zendesk/macros.md
  transform/snowflake-dbt/macros/zendesk/macros.yml
  transform/snowflake-dbt/macros/zuora/macros.md
  transform/snowflake-dbt/macros/zuora/macros.yml
Owners: @tayloramurphy, @jjstark, @emilie, @kathleentam

correction
  transform/snowflake-dbt/models/staging/version/xf/version_usage_data_unpacked.sql
Owners: @eli_kastelein, @mpeychet_

Point to new image
  docker-compose.yml
Owners: @tayloramurphy, @m_walker

Update docs
  transform/snowflake-dbt/docs/index.html
Owners: @tayloramurphy, @jjstark, @emilie, @kathleentam

Point to new image
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Owners: @tayloramurphy, @m_walker

Adding in not null test for job_post_location
  transform/snowflake-dbt/models/greenhouse/base/schema.yml
Owners: @pluthra, @kathleentam

clean up style, add docs and opportunity model
  transform/snowflake-dbt/models/gitlab_dotcom/xf/gitlab_dotcom_gitlab_user_requests.sql
  transform/snowflake-dbt/models/gitlab_dotcom/xf/gitlab_dotcom_gitlab_user_requests_opportunities.sql
  transform/snowflake-dbt/models/gitlab_dotcom/xf/gitlab_dotcom_xf.md
  transform/snowflake-dbt/models/gitlab_dotcom/xf/schema.yml
  transform/snowflake-dbt/models/sfdc/base/sfdc_account.sql
Owners: @eli_kastelein, @mpeychet_, @derekatwood, @kathleentam

filter null accounts due to left join
  transform/snowflake-dbt/models/gitlab_dotcom/xf/gitlab_dotcom_gitlab_user_requests.sql
Owners: @eli_kastelein, @mpeychet_

use real table name to get counts if schema changed no matter what
  extract/postgres_pipeline/postgres_pipeline/main.py
Owners: @tayloramurphy, @m_walker

use real table name to get counts if schema changed no matter what
  extract/postgres_pipeline/postgres_pipeline/main.py
Owners: @tayloramurphy, @m_walker

fix test
  transform/snowflake-dbt/models/gitlab_dotcom/ephemeral/schema.yml
Owners: @eli_kastelein, @mpeychet_

Revert to latest
  docker-compose.yml
  transform/snowflake-dbt/snowflake-dbt-ci.yml
Owners: @tayloramurphy, @m_walker

add share
  extract/postgres_pipeline/manifests/gitlab_com_db_manifest.yaml
Owners: @tayloramurphy, @m_walker

Apply suggestion to transform/snowflake-dbt/models/staging/finance/fct_charge.sql
  transform/snowflake-dbt/models/staging/finance/fct_charge.sql
Owners: @tayloramurphy, @jjstark, @emilie, @kathleentam

Apply suggestion to transform/snowflake-dbt/models/staging/finance/dim_subscription.sql
  transform/snowflake-dbt/models/staging/finance/dim_subscription.sql
Owners: @tayloramurphy, @jjstark, @emilie, @kathleentam

Apply suggestion to transform/snowflake-dbt/models/staging/finance/schema.yml
  transform/snowflake-dbt/models/staging/finance/schema.yml
Owners: @tayloramurphy, @jjstark, @emilie, @kathleentam

Apply suggestion to transform/snowflake-dbt/models/staging/finance/dim_product.sql
  transform/snowflake-dbt/models/staging/finance/dim_product.sql
Owners: @tayloramurphy, @jjstark, @emilie, @kathleentam

Apply suggestion to transform/snowflake-dbt/models/staging/finance/dim_product.sql
  transform/snowflake-dbt/models/staging/finance/dim_product.sql
Owners: @tayloramurphy, @jjstark, @emilie, @kathleentam

Apply suggestion to transform/snowflake-dbt/models/marts/product_kpis/temporary/product_kpis_temporary.md
  transform/snowflake-dbt/models/marts/product_kpis/temporary/product_kpis_temporary.md
Owners: @tayloramurphy, @jjstark, @emilie, @kathleentam

Apply suggestion to transform/snowflake-dbt/models/marts/product_kpis/temporary/product_kpis_temporary.md
  transform/snowflake-dbt/models/marts/product_kpis/temporary/product_kpis_temporary.md
Owners: @tayloramurphy, @jjstark, @emilie, @kathleentam

changes
  transform/snowflake-dbt/models/marts/product_kpis/product_kpis.md
  transform/snowflake-dbt/models/marts/product_kpis/temporary/product_kpis_temporary.md
Owners: @tayloramurphy, @jjstark, @emilie, @kathleentam

Remove infra, add dtownsend
  load/snowflake/roles.yml
Owners: @tayloramurphy, @jjstark, @kathleentam

Apply suggestion to load/snowflake/roles.yml
  load/snowflake/roles.yml
Owners: @tayloramurphy, @jjstark, @kathleentam

Remove equality
  dags/transformation/dbt.py
Owners: @tayloramurphy, @m_walker

add account filter
  transform/snowflake-dbt/tests/zuora/zuora_renewal_subscription_date_range.sql
Owners: @tayloramurphy, @jjstark, @emilie, @kathleentam

CODEOWNERS:

# ======
# Documentation
# ======

# https://gitlab.com/help/user/project/code_owners

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level

# ======
# Default
# ======

* @jjstark @kathleentam @tayloramurphy

# ======
# Top Level Folder Overwrites
# ======

/dags/          @tayloramurphy  @m_walker
/extract/       @tayloramurphy  @m_walker
/load/          @tayloramurphy  @jjstark    @kathleentam
/orchestrate/   @tayloramurphy  @m_walker

# ======
# Top Level File Overwrites
# ======

Makefile            @tayloramurphy @m_walker
docker-compose.yml  @tayloramurphy @m_walker
.gitlab-ci.yml      @tayloramurphy @m_walker

# ======
# dbt Overwrites
# ======

/transform/                                         @tayloramurphy  @jjstark    @emilie     @kathleentam
/transform/snowflake-dbt/                           @tayloramurphy  @jjstark    @emilie     @kathleentam

/transform/snowflake-dbt/snowflake-dbt-ci.yml       @tayloramurphy  @m_walker
/transform/snowflake-dbt/docs/                      @tayloramurphy  @jjstark    @emilie     @kathleentam
/transform/snowflake-dbt/macros/                    @tayloramurphy  @jjstark    @emilie     @kathleentam

/transform/snowflake-dbt/models/bamboohr/           @emilie         @kathleentam
/transform/snowflake-dbt/models/customers/          @eli_kastelein  @mpeychet_
/transform/snowflake-dbt/models/gitlab_data_yaml/   @tayloramurphy  @kathleentam
/transform/snowflake-dbt/models/gitlab_dotcom/      @eli_kastelein  @mpeychet_
/transform/snowflake-dbt/models/greenhouse/         @pluthra        @kathleentam
/transform/snowflake-dbt/models/netsuite/           @iweeks         @kathleentam
/transform/snowflake-dbt/models/sfdc/               @derekatwood    @kathleentam
/transform/snowflake-dbt/models/smau_events/        @eli_kastelein  @mpeychet_
/transform/snowflake-dbt/models/snowplow/           @tayloramurphy  @eli_kastelein  @mpeychet_
/transform/snowflake-dbt/models/snowplow_combined/  @tayloramurphy  @eli_kastelein  @mpeychet_

/transform/snowflake-dbt/models/sources/license/    @eli_kastelein  @mpeychet_
/transform/snowflake-dbt/models/staging/license/    @eli_kastelein  @mpeychet_

/transform/snowflake-dbt/models/sources/version/    @eli_kastelein  @mpeychet_
/transform/snowflake-dbt/models/staging/version/    @eli_kastelein  @mpeychet_

/transform/snowflake-dbt/models/sources/zendesk     @derekatwood    @ken_aguilar
/transform/snowflake-dbt/models/staging/zendesk     @derekatwood    @ken_aguilar

# ======
# dbt data file Overwrites
# ======

/transform/snowflake-dbt/data/projects_part_of_product.csv @clefelhocz1
