Repository danieldiamond/gitlab-analytics, changes with the owners that CODEOWNERS names for each.
All owners: @jjstark, @kathleentam, @tayloramurphy, @m_walker, @emilie, @derekatwood, @pluthra, @mpeychet_, @iweeks, @ken_aguilar, @jeanpeguero, @msendal, @clefelhocz1, @gitlab-data

update links to handbook struct
  .gitlab/issue_templates/DE Milestone Rolling.md
  .gitlab/issue_templates/Data Onboarding.md
  .gitlab/issue_templates/Data Triage.md
  .gitlab/issue_templates/Intern Guide.md
  .gitlab/issue_templates/Milestone Rolling.md
  .gitlab/issue_templates/Periscope Cleanup.md
  .gitlab/merge_request_templates/All Other Changes.md
  .gitlab/merge_request_templates/dbt Model Changes.md
  .gitlab/merge_request_templates/periscope.md
  extract/sheetload/README.md
  transform/snowflake-dbt/macros/utils/macros.md
  transform/snowflake-dbt/models/overview.md
Owners: @kathleentam, @jjstark, @tayloramurphy, @emilie

add distribution stats for Qualtrics distributions
  transform/snowflake-dbt/models/sources/qualtrics/qualtrics_distribution.sql
Owners: @m_walker, @jjstark

add new columns to schema.yml
  transform/snowflake-dbt/models/sources/qualtrics/schema.yml
Owners: @m_walker, @jjstark

add system_note_metadata
  transform/snowflake-dbt/models/sources/gitlab_dotcom/gitlab_dotcom_system_note_metadata.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/schema.yml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/sources.yml
Owners: @mpeychet_, @m_walker, @derekatwood, @kathleentam

change materialization
  transform/snowflake-dbt/models/staging/netsuite/intermediate/netsuite_entity.sql
  transform/snowflake-dbt/models/staging/netsuite/intermediate/netsuite_subsidiaries.sql
Owners: @tayloramurphy, @jjstark, @emilie, @kathleentam

revert deleted file' '
  orchestration/big_query_client.py
Owners: @jjstark, @kathleentam, @tayloramurphy

add doc and run
  transform/snowflake-dbt/models/sources/gitlab_dotcom/gitlab_dotcom_alert_management_alert_assignees.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/gitlab_dotcom_alert_management_alerts.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/gitlab_dotcom_alerts_service_data.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/gitlab_dotcom_system_note_metadata.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/schema.yml
  transform/snowflake-dbt/models/sources/gitlab_dotcom/sources.yml
Owners: @mpeychet_, @m_walker, @derekatwood, @kathleentam

indent
  transform/snowflake-dbt/models/sources/gitlab_dotcom/gitlab_dotcom_alert_management_alert_assignees.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/gitlab_dotcom_alert_management_alerts.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/gitlab_dotcom_alerts_service_data.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/gitlab_dotcom_system_note_metadata.sql
Owners: @mpeychet_, @m_walker, @derekatwood, @kathleentam

remove test and modify columns
  transform/snowflake-dbt/models/sources/gitlab_dotcom/gitlab_dotcom_system_note_metadata.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/schema.yml
Owners: @mpeychet_, @m_walker, @derekatwood, @kathleentam

typo
  transform/snowflake-dbt/models/sources/gitlab_dotcom/gitlab_dotcom_alerts_service_data.sql
  transform/snowflake-dbt/models/sources/gitlab_dotcom/gitlab_dotcom_system_note_metadata.sql
Owners: @mpeychet_, @m_walker, @derekatwood, @kathleentam

Update to roles, added pmg, added nullifs and removed a case
  load/snowflake/roles.yml
  transform/snowflake-dbt/models/staging/pmg/pmg_paid_digital.sql
Owners: @tayloramurphy, @jjstark, @kathleentam, @emilie

change id
  transform/snowflake-dbt/models/sources/gitlab_dotcom/gitlab_dotcom_alert_management_alert_assignees.sql
Owners: @mpeychet_, @m_walker, @derekatwood, @kathleentam

CODEOWNERS:

# ======
# Documentation
# ======

# https://gitlab.com/help/user/project/code_owners

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level

# ======
# Default
# ======

* @jjstark @kathleentam @tayloramurphy

# ======
# Top Level Folder Overwrites
# ======
/.gitlab/       @kathleentam    @jjstark
/admin/         @kathleentam    @jjstark
/analyze/       @kathleentam    @jjstark
/dags/          @tayloramurphy  @m_walker
/extract/       @tayloramurphy  @m_walker	@jjstark
/load/          @tayloramurphy  @jjstark    @kathleentam
/orchestrate/   @tayloramurphy  @m_walker

# ======
# Top Level File Overwrites
# ======

Makefile            @tayloramurphy @m_walker
docker-compose.yml  @tayloramurphy @m_walker
.gitlab-ci.yml      @tayloramurphy @m_walker
CODEOWNERS          @kathleentam   @jjstark  
.gitignore          @kathleentam   @jjstark    
CONTRIBUTING.md     @kathleentam   @jjstark  
LICENSE.md          @kathleentam   @jjstark  
README.md           @kathleentam   @jjstark  
__init__.py         @kathleentam   @jjstark  


# ======
# dbt Overwrites
# ======

/transform/                                         @tayloramurphy  @jjstark        @emilie         @kathleentam
/transform/general/                                 @kathleentam    @derekatwood    @pluthra
/transform/snowflake-dbt/                           @tayloramurphy  @jjstark        @emilie         @kathleentam

/transform/snowflake-dbt/snowflake-dbt-ci.yml       @tayloramurphy  @m_walker       @jjstark        @kathleentam
/transform/snowflake-dbt/generate_dbt_schema.py     @tayloramurphy  @m_walker       @jjstark        @kathleentam
/transform/snowflake-dbt/periscope_check.py         @tayloramurphy  @m_walker       @jjstark        @kathleentam

/transform/snowflake-dbt/analysis/                  @tayloramurphy  @jjstark        @kathleentam
/transform/snowflake-dbt/docs/                      @tayloramurphy  @jjstark        @emilie         @kathleentam
/transform/snowflake-dbt/macros/                    @tayloramurphy  @jjstark        @emilie         @kathleentam

/transform/snowflake-dbt/models/bamboohr/           @emilie         @pluthra        @kathleentam    
/transform/snowflake-dbt/models/covid19/            @tayloramurphy  @jjstark        @kathleentam
/transform/snowflake-dbt/models/date/base/          @derekatwood    @kathleentam
/transform/snowflake-dbt/models/marts/product_kpis/ @mpeychet_      @kathleentam
/transform/snowflake-dbt/models/netsuite/           @iweeks         @kathleentam
/transform/snowflake-dbt/models/smau_events/        @mpeychet_      @kathleentam
/transform/snowflake-dbt/models/snapshots/          @m_walker       @kathleentam    @jjstark
/transform/snowflake-dbt/models/snowplow/           @tayloramurphy  @mpeychet_      
/transform/snowflake-dbt/models/snowplow_combined/  @tayloramurphy  @mpeychet_

/transform/snowflake-dbt/models/sources/customers/          @mpeychet_		@m_walker       @derekatwood    @kathleentam
/transform/snowflake-dbt/models/staging/customers/          @mpeychet_		@m_walker       @derekatwood    @kathleentam


/transform/snowflake-dbt/models/sources/dbt         @m_walker    @jjstark
/transform/snowflake-dbt/models/staging/dbt         @m_walker    @jjstark

/transform/snowflake-dbt/models/sources/engineering/        @m_walker       @kathleentam    @ken_aguilar
/transform/snowflake-dbt/models/staging/engineering/        @m_walker       @kathleentam    @ken_aguilar

/transform/snowflake-dbt/models/sources/gitlab_data_yaml/   @tayloramurphy  @kathleentam    @jjstark
/transform/snowflake-dbt/models/staging/gitlab_data_yaml/   @tayloramurphy  @kathleentam    @jjstark

/transform/snowflake-dbt/models/sources/gitlab_dotcom/      @mpeychet_		@m_walker       @derekatwood    @kathleentam    
/transform/snowflake-dbt/models/staging/gitlab_dotcom/      @mpeychet_		@m_walker       @derekatwood    @kathleentam

/transform/snowflake-dbt/models/sources/gitter/             @tayloramurphy  @kathleentam    @jjstark
/transform/snowflake-dbt/models/staging/gitter/             @tayloramurphy  @kathleentam    @jjstark

/transform/snowflake-dbt/models/sources/google_analytics_360/   @mpeychet_	@jjstark	@jeanpeguero
/transform/snowflake-dbt/models/staging/google_analytics_360/   @mpeychet_	@jjstark	@jeanpeguero

/transform/snowflake-dbt/models/sources/greenhouse/         @pluthra        @kathleentam	@msendal
/transform/snowflake-dbt/models/staging/greenhouse/         @pluthra        @kathleentam	@msendal

/transform/snowflake-dbt/models/sources/handbook/           @m_walker       @kathleentam    @ken_aguilar
/transform/snowflake-dbt/models/staging/handbook/           @m_walker       @kathleentam    @ken_aguilar

/transform/snowflake-dbt/models/sources/license/    @mpeychet_		@m_walker   @derekatwood    @kathleentam
/transform/snowflake-dbt/models/staging/license/    @mpeychet_		@m_walker   @derekatwood    @kathleentam

/transform/snowflake-dbt/models/sources/qualtrics   @m_walker    @jjstark   
/transform/snowflake-dbt/models/staging/qualtrics   @m_walker    @jjstark

/transform/snowflake-dbt/models/sources/sfdc/       @derekatwood    @kathleentam	@jeanpeguero     @jjstark  
/transform/snowflake-dbt/models/staging/sfdc/       @derekatwood    @kathleentam    @jeanpeguero     @jjstark

/transform/snowflake-dbt/models/sources/snowflake/  @m_walker       @kathleentam    @jjstark
/transform/snowflake-dbt/models/staging/snowflake/  @m_walker       @kathleentam    @jjstark

/transform/snowflake-dbt/models/sources/version/    @mpeychet_		@m_walker   @derekatwood    @kathleentam
/transform/snowflake-dbt/models/staging/version/    @mpeychet_		@m_walker   @derekatwood    @kathleentam

/transform/snowflake-dbt/models/sources/zendesk     @derekatwood    @ken_aguilar    @kathleentam
/transform/snowflake-dbt/models/staging/zendesk     @derekatwood    @ken_aguilar    @kathleentam

/transform/snowflake-dbt/models/sources/zuora       @iweeks         @derekatwood    @msendal
/transform/snowflake-dbt/models/staging/zuora       @iweeks         @derekatwood	@msendal

# ======
# dbt data file Overwrites
# ======
/transform/snowflake-dbt/data/cost_center_division_department_mapping.csv               @iweeks     @kathleentam
/transform/snowflake-dbt/data/engineering_productivity_metrics_projects_to_include.csv  @m_walker   @kathleentam    @tayloramurphy 
/transform/snowflake-dbt/data/excluded.csv                                              @jjstark    @kathleentam
/transform/snowflake-dbt/data/google_analytics_custom_dimension_indexes.csv             @jjstark    @kathleentam
/transform/snowflake-dbt/data/handbook_file_classification_mapping.csv                  @m_walker   @kathleentam
/transform/snowflake-dbt/data/historical_counts_maintainers_engineers.csv               @m_walker   @kathleentam    @tayloramurphy 
/transform/snowflake-dbt/data/netsuite_expense_cost_category.csv                        @iweeks     @kathleentam
/transform/snowflake-dbt/data/projects_part_of_product.csv                              @clefelhocz1                                    
/transform/snowflake-dbt/data/raw_netsuite_currencies.csv                               @iweeks     @kathleentam    @tayloramurphy 
/transform/snowflake-dbt/data/seeds.md                                                  @m_walker   @kathleentam    @tayloramurphy  @jjstark
/transform/snowflake-dbt/data/seeds.yml                                                 @m_walker   @kathleentam    @tayloramurphy  @jjstark
/transform/snowflake-dbt/data/snowflake_contract_rates.csv                              @jjstark    @m_walker       @tayloramurphy 
/transform/snowflake-dbt/data/version_usage_stats_to_stage_mappings.csv                 @mpeychet_  @kathleentam
/transform/snowflake-dbt/data/zuora_asc_606_conversion_factors.csv                      @iweeks     @kathleentam
/transform/snowflake-dbt/data/zuora_country_geographic_region.csv                       @iweeks     @kathleentam    @tayloramurphy
/transform/snowflake-dbt/data/zuora_excluded_accounts.csv                               @gitlab-data
